* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}

body {
    background-color: rgb(118, 155, 185);
}

button {
    margin: 8px;
    cursor: pointer;
    background: none;
    border: 0;
    /* color: inherit; */
}

button:hover {
    border: 1px solid rgb(146, 16, 153);
}

.container {
    max-width: 420px;
    height: 100vh;
    /* max-height: 745px; */
    margin: 0 auto;
    /* background-color: #ffb74d; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid rgb(207, 29, 216);
    /* box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3); */
}

h1 {
    font-size: 35px;
    text-align: center;
    padding: 20px;
}

#result {
    text-align: center;
}

#result img {
    width: 40%;
}

#start-text {
    font-size: 36px;
    padding: 20px;
}

#group-btn {
    display: flex;
    width: 100%;
}

#group-btn>button>img {
    width: 100%;
}